<%- include('partials/header'); -%>

<div style="text-align:center">

    <div class="receipes" style="margin-top:30px">
        <h3 style="font-family:itallic">Receipe</h3>
        <a href="/dashboard/newreceipe"><button type="button" class="btn btn-outline" style="color:#D980FA">New Receipe</button></a>
        <a href="/dashboard/myreceipes"><button type="button" class="btn btn-outline" style="color:#D980FA">Show Receipes</button></a>
    </div>

    <div class="favourites" style="margin-top:30px">
        <h3 style="font-family:itallic">Favourites Receipes</h3>
        <a href="/dashboard/favourites/newfavourite"><button type="button" class="btn btn-outline" style="color:#D980FA">Add a Fav One</button></a>
        <a href="/dashboard/favourites"><button type="button" class="btn btn-outline" style="color:#D980FA">Show Favs</button></a>
    </div>

    <div class="schedules" style="margin-top:30px">
        <h3 style="font-family:itallic">Schedule</h3>
        <a href="/dashboard/schedule/newschedule"><button type="button" class="btn btn-outline" style="color:#D980FA">New Schedule</button></a>
        <a href="/dashboard/schedule"><button type="button" class="btn btn-outline" style="color:#D980FA">Show Schedule</button></a>
    </div>
</div>


<%- include('partials/footer'); -%>
