<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b7d3cf981d.js" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <title>Grandma's Cooking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style>
        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 300px;

        }

    </style>

    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>

    <!-- Titre principal haut de page-->

    <section id="titre">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <h1 style="color:black"><a href="/" style="text-decoration:none">Grandma's Cooking</a></h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Sign Up</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row">
                <div class="col-lg-6 col-xl-6">
                    <h1 style="color: #badc58">Become a culinary expert!<br><br> Find out a new passion.<br><br>Increase your creativity! </h1>

                </div>
                <div class="col-lg-6 col-xl-6">
                    <img class="img-studio54" src="images/gifh.gif" width="120%" style="margin-top:-80px;">

                </div>


            </div>

        </div>


    </section>


    <!-- Features -->
    <section id="features" style="margin-top:-50px">
        <h1>YOU ARE THE CHIEF! MANAGE THE BEST DISHES EVER</h1>
        <div class="row">
            <div class="col-lg-4 col-xl-4" style="text-align: center;">
                <p style="font-size: 80px;">🍳</p>
                <h3>Create Your Own Recipes</h3>
                <p>Master It!</p>

            </div>
            <div class="col-lg-4 col-xl-4" style="text-align: center;">
                <p style="font-size: 80px;">🥗</p>
                <h3>Most Secure Cooking App.</h3>
                <p>You are the only one who have the access to your work</p>

            </div>
            <div class="col-lg-4 col-xl-4" style="text-align: center;">
                <p style="font-size: 80px;">🥙</p>
                <h3>Manage your favorite ones </h3>
                <p>Have a total control over your creations !</p>

            </div>



        </div>

    </section>


    <!-- Testimonials -->
    <section id="testimonials">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2>That's how my restaurant still exists today!</h2>
                    <img src="images/remy.jpg" class="img rounded">
                    <p>Remy</p>
                </div>
                <div class="carousel-item">
                    <h2>Enjoy by mixing different flavours!</h2>
                    <img src="images/gt.jpg" class="img rounded">
                    <p>Alfredo Linguini</p>
                </div>
                <div class="carousel-item">
                    <h2>Fucking bad idea ! Dont waste your time. </h2>
                    <img src="images/gtf.jpg" class="img rounded">
                    <p>Skinner</p>
                </div>
                <div class="carousel-item">
                    <h2>You need to come to believe it. Learn to manage yourself!</h2>
                    <img src="images/emile.jpg" class="img rounded">
                    <p>Emile</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>



    <!-- Swiper -->
    <div class="swiper-container" style="width:50%">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/1.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/2.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/3.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/4.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/5.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/6.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/7.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/8.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/9.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/10.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/11.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/12.png)"></div>
            <div class="swiper-slide" style="background-image:url(images/cooking-dishes/13.png)"></div>

        </div>
    </div>

    <!-- Bas de Page -->
    <footer id="end">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin-in"></i>

    </footer>

    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: false,
            },

        });

    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>

</html>
