<%- include('partials/header'); -%>

<div class="new-receipe" style="text-align:center">
    <div style="margin-top:50px;">
        <h1 style="font-family:itallic">New Receipe</h1>
        <form method="POST" action="/dashboard/newreceipe" class="ui form">
            <div class="field">
                <label>Logo Image Url</label><br>
                <input type="text" name="logo" placeholder="image url" autocomplete="off">
            </div>
            <div class="field">
                <label>Receipe Name</label><br>
                <input type="text" name="receipe" placeholder="name" autocomplete="off">
            </div>
            <button type="submit" class="btn btn-success" style="margin-top:15px">Add New Receipe</button>
        </form>
    </div>
</div>

<%- include('partials/footer'); -%>
