<%- include('partials/header'); -%>

<div style="text-align:center">
    <h2 style="margin-top:30px;margin-bottom:10px;color:black;font-family:itallic">Receipes </h2>
    <a href="/dashboard/newreceipe"><button type="button" class="btn btn-success">Add New Receipe</button></a>


    <div class="receipe" style="margin-top:50px;">
        <div>

            <div class="item">
                <img class="rounded" src="" style="margin-top:15px;border-radius:30%" width="30%">
                <div class="content">
                    <div class="header">
                        <h3></h3>
                    </div>
                </div>
                <div class="details">
                    <a href="/dashboard/myreceipes/"><button type="button" class="btn btn-success" style="margin-bottom:10px;">View Details</button></a>
                    <form action="/dashboard/myreceipes/?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('partials/footer'); -%>
