<%- include('partials/header'); -%>

<div style="text-align:center">
    <h2 style="margin-top:40px;color:black;font-family:itallic">Schedule:</h2>
    <a href="/dashboard/schedule/newschedule"><button type="button" class="btn btn-success">New Schedule</button></a>

  
    <div class="infos-schedule" style="margin-top:30px">
        <h3></h3>
        <p>Time: </p>
        <p>Date: </p>
        <div class="item">
            <div class="delete-schedule">
                <form action="/dashboard/schedule/?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" value="delete">Delete</button>
                </form>
            </div>
            <div class="content">
                <span>Added on :  </span>
            </div>
        </div>
    </div>

</div>
